
<div>
  <h1>Registration</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <div>
          <label for="first-name">First Name</label>
          <input type="text" formControlName="firstName" placeholder="John">
          @let firstNameControl = form.controls.firstName;
          @let firstNameErr = firstNameControl.errors;
          @if(firstNameErr && (firstNameControl.touched || firstNameControl.dirty)) {
            @if (firstNameErr['required']) {
              <small>First Name is required</small>
            }
            @if (firstNameErr['minlength'] && firstNameErr['maxlength']) {
              @let requiredLength = firstNameErr['minlength']['requiredLength'];
              <small>First Name field only allow exactly {{ requiredLength }} characters</small>
            }
          }
        </div>
        <div>
          <label for="first-name">Last Name</label>
          <input type="text" formControlName="lastName" placeholder="Smit">
          @let lastNameControl = form.controls.lastName;
          @let lastNameErr = lastNameControl.errors;
          @if(lastNameErr && (lastNameControl.touched || lastNameControl.dirty)) {
            @if (lastNameErr['required']) {
              <small>Last Name is required</small>
            }
            @if (lastNameErr['maxlength']) {
              @let requiredLength = lastNameErr['maxlength']['requiredLength'];
              <small>Last Name field only allow {{ requiredLength }} characters</small>
            }
          }
        </div>
    </div>
        <div>
        <div>
          <label for="first-name">Age</label>
          <input type="text" formControlName="age" placeholder="12">
          @let ageControl = form.controls.age;
          @let ageErr = ageControl.errors;
          @if(ageErr && (ageControl.touched || ageControl.dirty)) {
            @if (ageErr['required']) {
              <small>First Name is required</small>
            }
            @if (ageErr['min']) {
              @let minAge = ageErr['min']['min']; 
              <small>Minimum age {{ minAge }}</small>                   
            }
            @if (ageErr['max']) {
              @let maxAge = ageErr['max']['max']; 
              <small>Maximum age {{ maxAge }}</small>                   
            }
          }
        </div>
        <div>
          <label for="first-name">Work Email</label>
          <input type="text" formControlName="email" placeholder="JohnSmit@gmail.com">
          @let emailControl = form.controls.email;
          @let emailErr = emailControl.errors;
          @if(emailErr && (emailControl.touched || emailControl.dirty)) {
            @if (emailErr['required']) {
              <small>Email is required</small>
            }
            @if (emailErr['pattern']) {
              <small>Invalid Email Format</small>
            }
          }
        </div>
    </div>

        <div>
        <div>
          <label for="phone">Phone Number</label>
          <input type="text" formControlName="phone" placeholder="00 000 00000">
          @let phoneControl = form.controls.phone;
          @let phoneErr = phoneControl.errors;
          @if(phoneErr && (phoneControl.touched || phoneControl.dirty)) {
            @if (phoneErr['required']) {
              <small>First Name is required</small>
            }
            @if (phoneErr['pattern']) {
              <small>Phone Number only allow numbers of 10 characters</small>
            }
            @if (phoneErr['minlength']) {
              @let requiredLength = phoneErr['minlength']['requiredLength'];
              <small>Phone must contain {{ requiredLength }} characters</small>
            }
            @if (phoneErr['maxlength']) {
              @let requiredLength = phoneErr['maxlength']['requiredLength'];
              <small>Phone only allow max {{ requiredLength }} characters</small>
            }
          }
        </div>
        <div>
          <label for="first-name">City</label>
          <select formControlName="city">
            @for(city of cities(); track $index) {
              <option>{{city}}</option>
            }
          </select>
          @let cityControl = form.controls.city;
          @let cityErr = cityControl.errors;
          @if(cityErr && (cityControl.touched || cityControl.dirty)) {
            @if (cityErr['required']) {
              <small>city is required</small>
            }
          }
        </div>
        <div>
          <span>Gender</span>
          <div>
            <input type="radio" formControlName="gender"  name="gender" id="1">
            <!-- <input type="radio" name="" name=""> -->
            <label for="gender">Male</label>
          </div>
          <div>
            <input type="radio" formControlName="gender" name="gender" id="2">
            <label for="gender">Female</label>
          </div>
          <div>
            <input type="radio" formControlName="gender" name="gender" id="3">
            <label for="gender">Prefer Not to Say</label>
          </div>
        </div>

        <div>
          <label for="first-name">Last Name</label>
          <select formControlName="city">
            @for(city of cities(); track $index) {
              <option>{{city}}</option>
            }
          </select>
          @let militaryStatusControl = form.controls.militaryStatus;
          @let militaryStatusErr = militaryStatusControl.errors;
          @if(militaryStatusErr && (militaryStatusControl.touched || militaryStatusControl.dirty)) {
            @if (militaryStatusErr['required']) {
              <small>Military Service Status is required</small>
            }
          }
        </div>
    </div>

    <div>
      <div>
        <!-- Terms and conditions  -->
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </div>
  </form>
</div>